/*Base Reset and Global Styles*/
body {
    background-color: #a1bf60;
    color: #111;
}
.icon {
    color: #d99c2b;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial',sans-serif;
    line-height: 1.6;
    background-color: #ffffff;
    color: #111;
}

img {
    max-width: 100%;
    height: auto;
}

a{
    text-decoration: none;
    color: inherit;
}

/* Header and Top Nav Section */

.site-header {
    padding: 1rem 0;
    background-color: #ffffff;
    border-bottom: 1px solid #ddd;
}

.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.serarch-wrapper {
    text-align: center;
    margin: 1.5rem 0;
}

.search-bar-input {
    width: 80%;
    max-width: 500px;
    padding: 0.6rem 1rem;
    font-size: 1rem;
    border-radius: 40px;
    border: 1px soild #ccc;
    background-color: #c2e6a2;
}

.logo-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

.logo {
    width: 120px;
}

.search-bar {
    display: flex;
    align-items: center;
    background-color: #ffffff;
    border: 1px solid #fafafa;
    border-radius: 40px;
    padding: 0.5rem 1rem;
    margin: 1.5rem auto;
    max-width: 90%;
    width: 100%;
    box-shadow: 0 2px 8px rgba(0,0,0,0.08);
    position: relative;
}

.search-bar input {
    flex: 1;
    border: none;
    outline: none;
    font-size: 1rem;
    background: transparent;
}

.search-icon {
    width: 20px;
    height: 20px;
}

.header-icons {
    display: flex;
    gap: 1rem;
}

.header-icons .icon {
    width: 24px;
    cursor: pointer;
}

/* Navigation Menu */

.main-nav {
    margin-top: 2rem;
    text-align: center;
}

.main-nav ul{
    list-style: none;
    display: flex;
    padding: 0%;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    margin-bottom: 1rem;
}

.main-nav li a {
    font-weight: bold;
    color: #222;
    font-size: 1rem;
}

.main-nav li a:hover {
    color: #2a8f55
}

/* Origin Section */

.origin {
    margin-top: 2rem;
}

.origin-image {
    width: 100%;
    border-radius: 10px;
    object-fit: cover;
}

/* Our Story Section */

.our-story {
    padding: 2rem 0;
    background-color: #fafafa;
}

.our-story .story-text {
    text-align: center;
}

.our-story h2 {
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.our-story p {
    margin-bottom: 1rem;
    font-size: 1rem;
    color: #444;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

/* Chat Button */

.chat-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
}

.chat-button img {
    width: 24px;
    height: 24px;
    filter: invert(1);
}

/* Desktop Style */

@media screen and (min-width: 1024px) {
    .header-top{
        padding: 0 2rem;
    }

.main-nav ul {
    flex-direction: row;
    justify-content: center;
    gap: 2rem;
}

.our-story h2{
    font-size: 2rem;
}

.our-story p {
    font-size: 1.1rem;
}

}