/* General styles */
body {
    background-color: #fdf9e7;
    font-family: Arial, sans-serif;
    color: #222;
    margin:0%;
}

/* Header section */
 .header-top {
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
 }

 .logo {
    width: 120px;
 }

 .header-icons {
    display:flex;
    gap: 1.5rem;
 }

 .icon {
    width:24px;
    height: auto;
 }

 /* Search bar SVG wrapper */
 .search-svg-wrapper {
    text-align: center;
    margin-top: 1rem;
 }

 .search-svg {
    width: 90%;
    max-width: 600px;
 }

 /* Navigation */
 .main-nav ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
    padding: 1rem;
    list-style: none;
 }

 .main-nav a {
    text-decoration: none;
    font-weight: bold;
    color: #004d2c;
 }

 /* Layout */
 .product-page {
    display:flex;
    flex-direction: column; 
    gap: 2rem;
    padding: 1rem;
}

.filters {
    display: none;
}

/* Buttons coloring */

.buy.green {
    background-color: #58c74d;
    column-rule-color: white;
}

.buy.purple {
    background-color: #571d41;
    color: white;
}

.size-btn {
    background-color: #2a8f55;
    color: white;
    border: none;
    padding: 0.4rem 1rem;
    border-radius: 20px;
    cursor: pointer;
    margin-right: 0.5rem;
    margin-top: 0.5rem;
}

.size-btn.size-btn.selected {
    outline: 3px soild #ffa500;
    font-weight: bold;
}

/* Product section */

.products h2 {
    color: #c96b00;
    font-size: 2rem;
    text-align: center;
}

.product-card {
    display: flex;
    gap: 1rem;
    padding: 1rem;
    max-width: 700px;
    margin:auto;
    border-radius: 8px;
    background-color: #fff;
}

.product-card img:first-child {
    max-width: 180px;
    border-radius: 10px;
}

.details {
    flex: 1;
}

.size-btn.selected {
    outline: 3px solid #ffa500;
    font-weight: bold;
}

.actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
}

.chat-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: none;
}

/* Responsive Filters Panel */
@media screen and (min-width: 1024px) {
    .product-page {
        flex-direction: row;
        padding: 2rem;
    
}

 .filters{
    display:block;
    width: 250px;
    padding: 1rem;
    background-color: #f6ecd3;
    border: 1px soild #ccc;
    border-radius: 8px; 
 }
 .filters h3 {
    color: #d68700;
    display: flex;
    align-items: center;
    gap: 0.5rem;
 }

 .filters label {
    display: block;
    margin-top: 1rem;
    color: #a36400;
    font-weight: bold;
 }

 .filters select,
 .filters input[type="number"] {
    width: 100%;
    margin-top: 0.25rem;
    padding: 0.3rem;
    border-radius: 6px;
    border: 1px soild #aaa;
 }
}  
